---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

hr {
    border: none;
    width: 3em;
    margin: 1em auto 2em auto;

    &:before {
        content: "— ☆ —";
        font-size: 6pt;
        font-weight: bold;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;

    thead tr th {
        border-bottom: 2px solid $grey-color-dark;
    }

    tbody tr {
        &:nth-of-type(odd) {
            background-color: lighten($grey-color-light, 5%);
        }

        td {
            padding: 0.25em 0.5em;

            &:not(:last-of-type) {
                border-right: 1px solid $grey-color-light;
            }
        }
    }
}

.call {
    font-size: 9pt;
    text-align: center;
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        padding-left: 2em;
    }
}

blockquote.pull {
    font-size: 20pt;
    font-weight: lighter;
    letter-spacing: 1pt;
    border-left: none;
    color: #222;
}
