---
layout: default
---



<!-- logotype
<h1 class="logo" style="font-size: 100px; font-weight: 300; letter-spacing: -1px; line-height: 80px">SAL<br>SA<br>&nbsp;</h1>
-->

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &bull; {{ post.author }}{% endif %}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
